<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>JOIN TO EARN MONEY</h1>
		<p>This is a Telegram BOT FOR BETTING</p>
		<a href="t.me/jiodl_bot" class="btn btn-primary btn-lg">JOIN NOW</a>
	</div>
</div>
	<script>

</script>

</body>
</html>
